extends layout

block content
    main.container
        h1.text-center= "Ofertas disponibles"
        ul.ofertas-list 
            each oferta in ofertas
                li
                    oferta.descuento